.button {
  display: flex;
  align-items: center;
  gap: 9px;
  background: none;
  cursor: pointer;
  transition: 0.3s all ease;
  &:focus {
    opacity: 0.8;
  }
  &:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }
  &__icon {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
