.menu {
  width: 0;
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  transition: all.3s ease;

  &.active {
    opacity: 1;
    width: 100%;
    & .menu__background {
      width: 100%;
    }
    & .menu__content {
      transform: translateX(0);
    }
  }
  &__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $blur;
  }
  &__content {
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    width: 320px;
    min-height: 100vh;
    background: $white;
    box-shadow: 16px 0 52px 0 rgba(69, 79, 126, 0.2);
    transition: all 0.3s ease;
    padding: 24px 24px 32px;
    transition: all 0.3s ease;
  }
  &__nav {
    margin-top: 40px;
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    line-height: 1.5;

    & .active {
      position: relative;
      color: $darkGray;

      &::before {
        content: '';
        position: absolute;
        left: -28px;
        top: -4px;
        width: 8px;
        height: 32px;
        background: $green;
        border-radius: 8px;
      }
    }
  }
  &__contacts {
    margin-top: 40px;
    flex-grow: 1;
    align-items: flex-end;
  }
  &__address {
    margin-top: 16px;
    font-style: normal;

    &-mail {
      display: block;
      font-size: 16px;
      line-height: 1.5;
    }
    &-phone {
      margin-top: 12px;
      display: block;
      font-family: TTLakes-bold;
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__lang {
    display: flex;
    gap: 6px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.5;

    & .active {
      color: $darkGray;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;

    &:last-child {
      margin-left: auto;
    }

    &--end {
      margin-left: auto;
    }
  }
  &__link {
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (min-width: 1366px) {
  .menu {
    width: auto;
    position: static;
    opacity: 1;
    overflow: visible;
    &__background {
      display: none;
    }
    &__content {
      height: 100%;
      transform: translateX(0);
    }
    &__close {
      display: none;
    }
    &__contacts {
      margin-top: 240px;
      flex-grow: 0;
    }
  }
}
