$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'TTLakes-Regular';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TypeType\ -\ TTLakes-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../fonts/TypeType\ -\ TTLakesCondensed-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@import './normalize.scss';
@import './header.scss';
@import './button.scss';
@import './wrapper.scss';
@import './menu.scss';
@import './title.scss';
@import './navigation.scss';
@import './article.scss';
