$black: #1b1c21;
$pink: #ff3e79;
$blur: #ffffff90;
$white: #fff;
$darkGray: #7e7e82;
$gray: #b5b6bc;
$lightGray: #eaeaea;
$green: #41f6d7;

@font-face {
  font-family: 'TTLakes-Regular';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TypeType\ -\ TTLakes-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../fonts/TypeType\ -\ TTLakesCondensed-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@import './normalize.scss';
@import './header.scss';
@import './button.scss';
@import './main.scss';
@import './wrapper.scss';
@import './menu.scss';
@import './callback.scss';
@import './title.scss';
@import './section-title.scss';
@import './navigation.scss';
@import './article.scss';
@import './vendors.scss';
@import './services.scss';
@import './prices.scss';
@import './swiper.scss';
@import './tip.scss';
@import './footer.scss';
