.title {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 8px;
    height: 40px;
    border-radius: 8px;
    background: $green;
  }
  &__text {
    font-family: TTLakes-bold;
    font-weight: 700;
    color: $black;
    line-height: 40px;
    font-size: 28px;
  }
  &__actions {
    list-style-type: none;
    display: none;
  }
}

@media (min-width: 1366px) {
  .title {
    &::before {
      left: -24px;
    }
    &__actions {
      display: flex;
      gap: 16px;
    }
  }
}
