.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'TTLakes-Regular', sans-serif;
  &__title {
    padding: 24px 16px 0;
  }
  &__navigation {
    margin-top: 24px;
    padding: 0 16px;
  }
  &__article {
    margin-top: 24px;
  }
  &__vendors {
    margin-top: 24px;
  }
  &__services {
    margin-top: 24px;
  }
  &__prices {
    margin-top: 24px;
  }
  &__tip {
    margin-top: 16px;
    padding: 0 16px;
  }
  &__footer {
    margin-top: 52px;
    padding: 0 4px 20px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    &__title {
      padding: 24px 16px 0;
    }
    &__navigation {
      margin-top: 32px;
      padding: 0 24px;
    }
    &__article {
      margin-top: 32px;
      padding: 0 24px;
    }
    &__vendors {
      margin-top: 32px;
    }
    &__services {
      margin-top: 32px;
    }
    &__prices {
      margin-top: 32px;
    }
    &__tip {
      margin-top: 24px;
      padding: 0 24px;
    }
    &__footer {
      padding: 0 24px 20px;
    }
  }
}

@media (min-width: 1366px) {
  .wrapper {
    padding: 0 20px;
    &__title {
      padding: 42px 0 0;
    }
    &__navigation {
      margin-top: 8px;
      padding: 0;
    }
    &__article {
      margin-top: 8px;
      padding: 0;
    }
    &__vendors {
      margin-top: 42px;
    }
    &__services {
      margin-top: 42px;
    }
    &__prices {
      margin-top: 42px;
    }
    &__tip {
      margin-top: 32px;
      padding: 0;
    }
    &__footer {
      padding: 0 0 20px;
    }
  }
}
